<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Conditions</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
 <div class="container">
   <div class="row">
     <div class="col-8 offset-2 p-2">
      <button class="btn btn-sm btn-primary" @click="showContainer = !showContainer">Aç / Kapat </button>
      <h1 v-if="!showContainer" class="text-danger">BAŞLANGIÇTA GÖZÜKECEK</h1>
      <h1  v-else class="text-primary">SONRA GÖZÜKECEK</h1>
      
      <hr>

      <!-- <h3 :class="{'bg-success':counter>0,'bg-danger': counter<0}">{{counter}}</h3> -->
      <h3 :class="counterBoxClass">{{counter}}</h3>
      <button class="btn btn-sm btn-success" @click="counter++">Artır</button>
      <button class="btn btn-sm btn-danger" @click="counter--">Azalt</button>
      <p v-if="counter<0">Counter Negatif</p>
      <p v-else-if="counter > 0">Counter Pozitif</p>
      <p v-else="counter == 0">Counter 0</p>
      //DOM üzerinden kaldırır.

      <hr>

      <p v-show="counter<0">Counter Negatif</p>
      <p v-show="counter > 0">Counter Pozitif</p>
      <p v-show="counter == 0">Counter 0</p>
      //display:none ile ekranda görünmesini engelliyor.
     </div>
   </div>
 </div>
     
    </div>
    
    <script src="app.js"></script>
</body>
</html>